<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/order-submission.js"></script>
    <script type="text/javascript" src="/scripts/sidebar.js"></script>

    <!-- Awesome Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Cinzel 400, 600 -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap" rel="stylesheet">
    <!-- Quattrocento 400 -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Quattrocento&display=swap" rel="stylesheet">
    <!-- Lora 400 Regular & Italic -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Lora:ital@0;1&family=Quattrocento&display=swap" rel="stylesheet">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Home Page</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main class='order-submit-container'>
      <h3 class="order-submission-header">Order Summary</h3>
      <% if(results.length === 0 || typeof results === 'undefined'){ %>
        <div class="empty-cart">
          <p>Oh wow, there's nothing here!</p>
          <p>Would you like to checkout the <a href="/menu">menu</a>?</p>
        </div>
      <% } else{ %>
        <div class="order-submission-body">
          <h4>Name: <%= results[0].user_name %></h4>
          <h5>Phone: <%= results[0].phone %></h5>
          <h5 class='order-id'>Order #<%= results[0].order_id %></h5>
          <% const event = new Date();%>
          <% const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };%>
          <h5><%= event.toLocaleDateString(undefined, options) %></h5>
          <form class="order-submission-data" method="POST">
          <div class="orders-table">
            <div class="table-header-row">
              <div scope="col" class="table-header item-col">Item #</div>
              <div scope="col" class="table-header name-col">Item Name</div>
              <div scope="col" class="table-header price-col">Price</div>
              <div scope="col" class="table-header quantity-col">Quantity</div>
              <div scope="col" class="table-header subtotal-col">Subtotal</div>
            </div>
            <div class='table-body'>
              <% let total = 0 %>
              <% for(let i=0; i<results.length; i++) { %>
                <div class='order-data-row'>
                  <div class="order-submission-id" id="item-id-<%= i %>"><%= results[i].order_submission_id %></div>
                  <div class="item-name" id="item-name-<%= i %>"><%= results[i].item_name %></div>
                  <div class="item-price">$<%= (results[i].price / 100).toFixed(2) %></div>
                  <div class="quantity-counter-container">
                    <div class="quantity-counter">
                      <button type="button" class="btn btn btn-outline-dark btn-sm button-down" id="button-down-<%= i %>"><i class="fas fa-minus"></i></button>
                    <input type="text" class='quantity-value' value='<%= results[i].quantity %>' id='quantity-value-<%= i %>'>
                    <button type="button" class="btn btn btn-outline-dark btn-sm button-up" id="button-up-<%= i %>"><i class="fas fa-plus"></i></button>
                    </div>
                  </div>
                  <div class="item-subtotal">$<%= (results[i].price / 100 * results[i].quantity).toFixed(2) %></div>
                </div>
                <% total += (results[i].price / 100).toFixed(2) * results[i].quantity %>
              <% } %>
            </div>
          </div>
          <div class="checkout-summary">
            <div class="total-price">
              <h5>Total Price</h5>
              <h5 class='total-price-value'>$<%= total.toFixed(2) %></h5>
            </div>
            <button type="submit" class="btn btn btn-outline-dark">Confirm Order</button>
          </div>
          </form>
        </div>
      <% } %>
    </main>
    <%- include('partials/_footer') %>
    <!-- Bootstrap required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  </body>
</html>

